<div class="container mt-5 ">
    <div>
        <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" #nombre>
            </div>
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" #apellido>
            </div>
            <div class="mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" #edad>
            </div>
            <button class="btn btn-primary" (click)="agregarDatos(nombre.value, apellido.value, edad.value)">Agregar datos</button>
          </form>
    </div>
</div>
